:root {
  --background: #161515;
}
.header,
.middle_content,
.google_athuentication,
.skip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.signup_text,
.skip {
  font-family: "Rokkitt", serif;
  font-weight: 600;
  font-size: 16px;
}
.common_container {
  overflow: hidden;
  background-color: var(--background);
}

.header {
  background-color: var(--background);
}

.google_athuentication {
  border: 2px solid white;
  border-radius: 0.69vw;
  cursor: pointer;
}

.signup_text {
  color: #f4f5f9;
}

.skip {
  border-radius: 0.69vw;
  background-color: #f4f5f9;
  border: none;
  outline: none;
}

@media (min-width: 441px) and (max-width: 1024px) {
  .middle_content {
    width: 29.3vw;
    height: 6.44vh;
    top: 22.4vh;
    left: 35.35vw;
  }
  .skip {
    width: 14.65vw;
    height: 2.93vh;
    top: 67.3vh;
    left: 42.7vw;
  }
  .google_athuentication {
    width: 35.16vw;
    height: 3.66vh;
    top: 73.9vh;
    left: 32.4vw;
  }
}
@media (max-width: 440px) {
  .middle_content {
    width: 68.18vw;
    height: 9.21vh;
    top: 14.95vh;
    left: 15.91vw;
  }
  .skip {
    width: 27.5vw;
    height: 3.14vh;
    top: 71.7vh;
    left: 36.14vw;
    border-radius: 0.6vh;
    font-size: 2.73vw;
  }
  .google_athuentication {
    width: 81.82vw;
    height: 5.22vh;
    top: 80.06vh;
    left: 9.09vw;
    border-radius: 0.6vh;
  }
}
