@keyframes company_animation{
    0%{
    
        top:1.57vh;
        left:0vw;
        opacity: 0;
        
    }
    100%{
    
        top: 1.57vh;
        left: 4.55vw;
        opacity: 1;
    }
    }
    
    
    .companyname{
        width: 25vw;
        height: 3.38vh;
    animation: company_animation 0.7s ease 1.2s 1 forwards;
    position: absolute;
    opacity: 0;
    
    }
    
  
    
        @keyframes footer_animation{
            0%{
            
               
                opacity: 0;
                
            }
            100%{
            
                opacity: 1;
            }
            }
    
    .footer{
        width: 100vw;
    height: 6.59vh;
    background-color: #F4F5F9;
    position: absolute;
    top: 93.56vh;
    left: 0vw;
    animation: footer_animation 0.7s ease 1.2s 1 forwards;
    opacity: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }  