@keyframes first_tshirt_animation {
    0% {
        left: 0vw;
        top: 10.73vh;
        opacity: 0;
    }
    100% {
        left:  2.78vw;
        top: 10.73vh;
        opacity: 1;
    }
}


.first_tshirt{

    width: 31.25vw;
    height: 43.95vh;
    position: absolute;
    animation: first_tshirt_animation 0.7s ease-in-out 1 1.2s forwards;
    opacity: 0;
    
}



@keyframes merch_animation {
    0% {
        left: 36.6vw;
        top: 0vh;
        opacity: 0;
    }
    100% {
        left:36.6vw;
        top: 13.38vh;
        opacity: 1;
    }
}

.merch{

    width: 17.5vw;
    height: 10.85vh;
    position: absolute;
    animation: merch_animation 0.7s ease-in-out 1 1.2s forwards;
    opacity: 0;
}

.merch span {
    color: #FFFFFFCC;
    font-family: "Sancreek", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    line-height: 111.02px;
 
    text-align: justify;
}


@keyframes merch_quote_animation {
    0% {
        left: 36.67vw;
        top: 0vh;
        opacity: 0;
    }
    100% {
        left:36.67vw;
        top:25.68vh;
        opacity: 1;
    }
}



.merch_quote{
    width: 44.79vw;
    height: 7.03vh;
    position: absolute;
    animation: merch_quote_animation 0.7s ease-in-out 1 1.2s forwards;
    opacity: 0;
}
.quote_style{
    font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
    font-size: 16px; 
    font-weight: 400;
    line-height: 18.19px;
    text-align: justify; 
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    color: #FFFFFFB2;
    
}
@keyframes custom_animation {
    0% {
        left:  49.67vw;
        top: 100vh;
        opacity: 0;
    }
    100% {
        left: 49.67vw;
        top:65.5vh;
        opacity: 1;
    }
}


.custom{
    width: 20.21vw;
    height: 10.85vh;
    position: absolute;
    opacity: 0;
    gap: 0vw;
    animation: custom_animation 0.7s ease-in-out 1 1.2s forwards;
}
.custom span{
    color:#FFFFFFCC;
    font-family: "Sancreek", serif;
    font-weight: 400;
    font-style: normal;
    font-size:80px;
    line-height: 111.02px;
    font-weight: 400px;
    text-align: justify;
}

@keyframes custom_quote_animation {
    0% {
        left:  23.96vw;
        top: 100vh;
        opacity: 0;
    }
    100% {
        left: 23.96vw;
        top:77.93vh;
        opacity: 1;
    }
}

.custom_quote{
   
    width: 44.79vw;
    height: 8.79vh;
    position: absolute;
    opacity: 0;
    gap: 0vw;
    animation: custom_quote_animation 0.7s ease-in-out 1 1.2s forwards;
}
@keyframes second_tshirt_animation {
    0% {
        left:  65.97vw;
        top: 100vh;
        opacity: 0;
    }
    100% {
        left: 65.97vw;
        top:45.31vh;
        opacity: 1;
    }
}

.second_tshirt{

    width: 32.64vw;
height: 45.83vh;
padding: 10px 0px 0px 0px;
gap: 0.69vw;
opacity: 0;
position: absolute;
animation: second_tshirt_animation 0.7s ease-in-out 1 1.2s forwards;
}


