@keyframes first_image_animation {
  0% {
    top: 0vh;
    left: 2vw;
    opacity: 0;
  }
  100% {
    top: 19.96vh;
    left: 2vw;
    opacity: 1;
  }
}

.first_image {
  width: 35.06vw;
  height: 25.27vh;

  position: absolute;
  animation: first_image_animation 0.7s ease 1.2s 1 forwards;
  opacity: 0;
}

@keyframes merch_animation {
  0% {
    top: 0vh;
    left: 47.2vw;
    opacity: 0;
  }
  100% {
    top: 28.34vh;
    left: 47.2vw;
    opacity: 1;
  }
}

.merch {
  width: 47.19vw;
  height: 12.59vh;
  position: absolute;
  animation: merch_animation 0.7s ease 1.2s 1 forwards;
  opacity: 0;
}
.quote_header {
  color: #ffffffcc;
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 66.61px;
  text-align: justify;
}
.quote {
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.19px;
  text-align: justify;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffffb2;
}

@keyframes custom_animation {
  0% {
    top: 100vh;
    left: 11.72vw;
    opacity: 0;
  }
  100% {
    top: 63.67vh;
    left: 11.72vw;
    opacity: 1;
  }
}

.custom {
  width: 47.19vw;
  height: 9.23vh;
  opacity: 0;
  position: absolute;
  animation: custom_animation 0.7s ease 1.2s 1 forwards;
}

.quote_custom {
  color: #ffffffcc;
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 66.61px;
  text-align: justify;

  margin-left: 28vw;
}
@keyframes second_image_animation {
  0% {
    top: 100vh;
    left: 58.79vw;
    opacity: 0;
  }
  100% {
    top: 50.73vh;
    left: 58.79vw;
    opacity: 1;
  }
}

.second_image {
  width: 39.06vw;
  height: 29.28vh;
  position: absolute;
  opacity: 0;
  animation: second_image_animation 0.7s ease 1.2s 1 forwards;
}
