.page_header {
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-size: 48px;
  color: #d8d8d8;
}
.main_header,
.input_container label,
.input_container span{
  color: #f4f5f9;
  font-family: "Rokkitt", serif;
  font-weight: 400;
}
.main_header {
 font-size: 20px;
}
.input_container input{
  width: 22.22vw;
  height: 3.91vh;
  padding: 0.69vw;
  outline: none;
}

.input_container span{
  font-size: 0.69vw;
  color: #FF3336BF;
  
}

@media (min-width: 441px) and (max-width: 1024px) {
  .image_conatiner {
    width: 2.93vw;
    height: 2.2vh;
    top: 31.91vh;
    left: 32.2vw;
  }
  .main_header {
    width: 10.94vw;
    height: 1.83vh;
    top: 32.04vh;
    left: 44.33vw;
  }
  .input_container{
    border: none;
    width: 38.16vw;
    height: 28.66vh;
    top:36.12vh;
    left:31.12vw;
  }
  .input_container input{
    width: 35.16vw;
height: 3.66vh;
border-radius: 1vw;
  }
  .input_container button{
    width: 24.22vw;
height: 3.66vh;
  }
  .input_container span{
    font-size: 0.9vw;
   
  }

}
@media (max-width: 440px) {
  .image_conatiner {
    width: 6.82vw;
    height: 3.14vh;
    top: 30.44vh;
    left: 9.09vw;
    padding-top: 0.29vh;
  }
  .main_header {
    width: 25.45vw;
    height: 2.62vh;
    top: 30.65vh;
    left: 37.27vw;
  }
  .input_container{
    border: none;
    width: 84.82vw;
    left:7vw;
    height:32.12vh;
    top: 37.12vh;
  }
  .input_container input{
    width: 81.82vw;
    height: 5.23vh;
    border-radius: 1vw;
  }
  .input_container button{
    width: 56.36vw;
    height: 5.23vh;
  }
  .input_container span{
    font-size: 1.6vw;
      }
      .input_container label{
        font-size: 3vw;
      }
}
